<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
</head>
<body>
	<form action="/admin/login" method="post">
		姓名:	<input type="text" name="username">
		<hr>
		密码:	<input type="password" name="password">
		<hr>
		<input type="submit" value="登录">
	</form>
</body>
</html>