html
	head
		script(src='a.js')
		link(href='b.css',rel='stylesheet')
	body
		div
			ul
				li
					input(type='text',value='test') 
				li
					input(type='text')
				li
					a(href='www.baidu.com') 官网