<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <% if(type === 'admin'){ %>
    	<% include ./a.css %>
    <% } else { %>
    	<% include ./b.css %>
    <% } %>
</head>
<body>
	<h1>我的名字是 <%= name %> </h1>
	<h1>我的年龄是 <%= json.age %> </h1>
	<% for(var i = 0; i < arr.length; i ++) { %>
		<div> <%= arr[i] %> </div>
	<% } %>

	<% const str = '<h1>hello world</h1>' %>
	<%- str %> // 横线代表执行输出
</body>
</html>